
<div class="container mt-4 pt-4">
    <div>
        <h2 class="text-center">Queja</h2> 
        <hr class="bg-success">
    </div>

   <div class="row">
     <div class="col-2 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="recaptcha col-3 col-sm-4 col-md-4 col-lg-4"   *ngIf="autocaptcha" > 
    <re-captcha (resolved)= "resolved ($event)" siteKey="6LchJ_sUAAAAAAfy4I99RKZArIty8NEM8NjYD9Mv"></re-captcha>
</div>
</div>
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3">

        </div>
        <div *ngIf="!ingresoQueja" class="col-10 col-sm-8 col-md-6">
          <div class="form-group">
            <div class="mt-4 mb-4">
              <button type="button" class="btn btn-success btn-lg btn-block" (click)="ingresarQueja();">Nueva queja</button>
            </div>


            <div class="mt-4">
              <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/home" >Salir</button> <!---->
            </div>
        </div>
        </div>


        <div *ngIf="ingresoQueja" class="col-10 col-sm-8 col-md-6">
            <form #formularioQueja = "ngForm">
                
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Medio de ingreso*</label>
                    <select class="form-control" [(ngModel)]="queja.medio_ingreso_queja" name="medio_ingreso_queja" id="exampleFormControlSelect1" > <!---->
                      <option> </option>
                      <option *ngFor="let medioIngreso of mediosIngreso">{{medioIngreso.id_medio_ingreso_queja}}. {{medioIngreso.descripcion_medio}} </option>
                    </select>
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1" >Nombre*: </label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="queja.nombre" name="nombre"> <!---->
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput2">Correo electrónico*: </label>
                  <input type="email" class="form-control" id="exampleFormControlInput2" [(ngModel)]="queja.correo" name="correo"> <!---->
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput3">Teléfono*: </label>
                  <input type="number" class="form-control" id="exampleFormControl" [(ngModel)]="queja.telefono" name="telefono" > <!---->
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput4">Oficina*: </label>
                  <select class="form-control" id="exampleFormControlSelect2" [(ngModel)]="queja.oficina" name="oficina"> <!---->
                    <option *ngFor="let puntoAtencion of puntosAtencion">{{puntoAtencion.id}}. {{puntoAtencion.nombre_puntodeatencion}} </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput5">Nombre de empleado: </label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" > <!---->
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput6">Detalle de la queja*: </label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="queja.detalle_queja" name="detalle_queja" > <!---->
                  <div class="center mt-2 mb-2">
                    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                          <div class="row ml-2">
                            <div class="text-success col">
                              Desea adjuntar algún archivo que respalde su queja. 
                            </div>
                            <div class="col">
                              <button type="button" class="btn btn-secondary" (click)="openFileSelector()">Seleccionar archivo</button>
                              <tr *ngFor="let item of files; let i=index">
                                <td class="text-success"><strong>{{ item.relativePath }}</strong></td>
                            </tr>
                            </div>
                          </div>
                        </ng-template>
                    </ngx-file-drop>
                </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="mt-2 mb-2 col-8 col-sm-7 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-success" (click)="guardar(queja.medio_ingreso_queja, queja.oficina);">Guardar</button>
                        </div>
                        <div class="mt-2 mb-2 col-8 col-sm-7 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-success" (click)="resetForm(formularioQueja);">Cancelar</button>
                        </div>
                        <div class="mt-2 col-8 col-sm-7 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-success" (click)="salir();">Salir</button> <!---->
                        </div>
                    </div>
                </div>
              </form>
        </div>
    </div>
  
   <br>
   <br>
   <br>
   <br>
  


