<div class="container mt-4 pt-4">
    <div class="text-center">
        <h2>Seguimiento de Quejas Por Mal Servicio Asignadas</h2>
        <hr class="bg-success">
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Correlativo</th>
                <th scope="col">Fecha de ingreso</th>
                <th><img href=""></th>
                <th scope="col">Administrar</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
                    </table>        
</div>