<div class="container mt-4 mb-4 pt-4"> 
    <div> 
        <h2 class="text-center">Reportes de las quejas</h2>
        <hr class="bg-success">
    </div>
    <button (click)="generarPDF();">Generar PDF</button>
    <div class="row">
        <div class="col-3">
            <div class="rounded-pill bg-success">
                Consulta
            </div>
            <table class="table">
                <thead class="bg-success">
                    <th></th>
                </thead>
                <tbody>
                    <tr>Fechas</tr>
                    <tr>No. queja</tr>
                    <tr>Región</tr>
                    <tr>Puntos de atención</tr>
                </tbody>
            </table>
        </div>
        <div class="col">

        </div>
    </div>
</div>