  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Nosotros:</h6>
            <p class="text-justify">Somos <i>UNA INSTITUCIÓN </i> de tipo financiero que administra el dinero que les deja en custodia sus clientes y, por el otro, utiliza éste para prestarselo a otros individuos o empresas aplicándoles un interés.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Valores</h6>
            <ul class="footer-links">
              <li><a >Honestidad</a></li>
              <li><a >Respeto</a></li>
              <li><a >Equidad</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Links</h6>
            <ul class="footer-links">
              <li><a href="/queja">Queja</a></li>
              <li><a href="/queja">Consultar Queja</a></li>
              <li><a href="/home">Iniciar Sesion</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text"> &copy; 2020 UMG San Juan Sacatepéquez
         <a>R&E</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" ><i class="fa fa-facebook"></i>F</a></li>
              <li><a class="twitter" ><i class="fa fa-twitter"></i>Tw</a></li>
              <li><a class="linkedin" ><i class="fa fa-linkedin"></i>IG</a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>