<div class="container mt-4 pt-4">

    <div>
        <h2 class="text-center">USUARIOS</h2> <!--Tilde en atencion-->
        <hr class="bg-info">
    </div>
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3">

        </div>
        <div class="col-10 col-sm-8 col-md-6">
            <form #formularioUsuarios = "ngForm"> <!---->
                
                    
                      <div class="form-group">
                        <label for="exampleFormControlInput1">DPI: </label>
                        <input type="number" class="form-control" [(ngModel)]="usuario.dpi" name="dpi" id="exampleFormControlInput1" > <!---->
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre: </label>
                        <input type="text" class="form-control"  [(ngModel)]="usuario.nombre_usuario" name="nombre_usuario" id="exampleFormControlInput1" > <!---->
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlInput1">Correo: </label>
                        <input type="email" class="form-control" [(ngModel)]="usuario.correo_usuario"  name="correo_usuario" id="exampleFormControlInput1" > <!---->
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlInput1">Contraseña: </label>
                        <input type="password" class="form-control"  [(ngModel)]="usuario.password" name="password" id="exampleFormControlInput1" > <!---->
                      </div>
                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Cargos:</label> <!--Tilde en region-->
                      <select class="form-control" [(ngModel)]="usuario.cargo_usuario" name="cargo_usuario" id="exampleFormControlSelect1" > <!---->
                        <option>Titular</option>
                        <option>Suplente</option>
                        <option>Encargado</option>
                        <option>Jefe Inmediato</option>
                        <option>Receptor de quejas</option>
                        <option>Centralizador de quejas</option>
                         </select>
                         </div>
                            

                         <div class="form-group">
                            <label for="Puntos de atecion">Región</label>
                            <select multiple class="form-control" id="exampleFormControlSelect2">
                                <option *ngFor="let region of regiones" (click)="buscar(region.id_region, region.nombre_region)">{{region.id_region}}. {{region.nombre_region}}</option>
                            </select>
                          </div>
                          
                          <div class="form-group">
                            <label for="exampleFormControlSelect2">Puntos de atención</label>
                            <select multiple class="form-control" id="puntosdeatencion">
                              <option *ngFor="let puntoAtencion of puntosAtencion" data-toggle="" data-target="#exampleModal" (click)="establecerValores(puntoAtencion.id)">{{puntoAtencion.nombre_puntodeatencion}}</option>
                            </select>
                          </div>
                       
                        <br>
                        <div class="form-group">
                        <div class="row">
                        <div class="mt-2 mb-2 col-8 col-sm-7 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-info" (click)="guardar();" >Guardar</button>
                         </div>
                         <div class="mt-2 mb-2 col-8 col-sm-7 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Modificar</button>
                         </div>
                         <div class="mt-2 col-8 col-sm-7 col-md-4 col-lg-3">
                            <button type="button" class="btn btn-info"  (click)="resetForm(formularioUsuarios);">Cancelar</button> <!---->
                        </div>
                    </div>
                </div>
              </form>
        </div>
    </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Datos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="Puntos de atecion">Región</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option *ngFor="let region of regiones" (click)="buscar(region.id_region, region.nombre_region)">{{region.id_region}}. {{region.nombre_region}}</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlSelect2">Puntos de atención</label>
              <select multiple class="form-control" id="puntosdeatencion">
                <option *ngFor="let puntoAtencion of puntosAtencion" data-toggle="" data-target="#exampleModal" (click)="establecerValores(puntoAtencion.id)">{{puntoAtencion.nombre_puntodeatencion}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Usuarios</label>
              <select multiple class="form-control" id="puntosdeatencion">
                <option *ngFor="let puntoAtencion of puntosAtencion" data-toggle="" data-target="#exampleModal" (click)="establecerValores2(puntoAtencion.id)">{{usuario.nombre_usuario}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Correo </label>
              <div>
                <input type="email" [(ngModel)]="puntoAtencion.nombre_puntodeatencion" name="nombre_puntodeatencion">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Cargos:</label> <!--Tilde en region-->
              <select class="form-control" [(ngModel)]="usuario.cargo_usuario" name="cargo_usuario" id="exampleFormControlSelect1" > <!---->
                <option>Titular</option>
                <option>Suplente</option>
                <option>Encargado</option>
                <option>Jefe Inmediato</option>
                <option>Receptor de quejas</option>
                <option>Centralizador de quejas</option>
                 </select>
                 </div>
              <div class="form-group">
                <label for="modificarPuntoAtencion">Estado</label>
                <select class="form-control" id="modificarPuntoAtencion" [(ngModel)]="puntoAtencion.estado_puntodeatencion" name="estado_puntodeatencion">
                  <option>Activo</option>
                  <option>Inactivo</option>
                </select>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/puntosatencion">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>